[Unit]
Description=flask
[Service]
ExecStart=/usr/bin/python3 /home/yash/dashboard/app.py
Restart=always
[Install]
WantedBy=multi-user.target

























